{% extends "base.html" %}
{% block content %}
<h3>Курс:</h3>
<h2>
  <a href="{{course.slides}}" target="1" title="slides">
  <span class="glyphicon glyphicon-blackboard"></span>
  </a>
  {{course}}
  <a href="/show_video/{{course.id}}/{{lec}}/" target="1" title="long video">
  <span class="glyphicon glyphicon-facetime-video"></span>
  </a>
</h2>
<hr>
<h3>Лекции</h3>
<ol>
  {% for lec in lec_15 %}
  <li>
 {{ lec }}

  </li>
  {% endfor %}
</ol>
<hr>
<h3>Необходимые предварительные знания:</h3>
 {{course.kw_before}}
<hr>
<h3>Знания после изучения курса:</h3>
 {{course.kw_after}}
<hr>
<h3>Преподаватель:</h3><h2> {{first_name}} {{last_name}}</h2>
<img src="{{profile.picture.url}}" />
<hr>
<a href="/hall/">Вернуться в главный зал</a>
{% endblock %}
