<!DOCTYPE html>
<html>
    <head>
        <title>sky</title>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <h1>  {{ message }} </h1>
              </li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="container">
        <div class="jumbotron">

                <a href="/" title="Home">
                    <span class="glyphicon glyphicon-home"></span>
                </a>

                <a href="/hall/" title="You are Expert">
                    <span class="glyphicon glyphicon-king"></span>
                </a>

                <a href="/hall/" title="You are Student">
                    <span class="glyphicon glyphicon-knight"></span>
                </a>

                <a href="/hall/" title="You are Tutor">
                    <span class="glyphicon glyphicon-tower"></span>
                </a>

              <hr>
              {% block content %}
              {% endblock content %}

              <hr>
              {% if user.is_superuser %}
                <a href="/admin/" title="Admin-panel">
                    <span class="glyphicon glyphicon-wrench"></span>
                </a>
              {% endif %}
        </div>
      </div>



    </body>
</html>
