<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>sky</title>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

    <body>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <h1>  {{ message }} </h1>
              </li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="container">
        <div class="jumbotron">
          <a href='/my_room/'>(личный кабинет)</a>
  <a href="/hall/" title="вернуться в главный зал">
                  (<span class="glyphicon glyphicon-home"></span>)
        </a>
                {% if not user.userprofile %}
                  no profile?

                {% elif user.userprofile.last_status == 'E' %}
                      вы эксперт
                          <span class="glyphicon glyphicon-king"></span>

                {% elif user.userprofile.last_status == 'W' %}
                          вы волшебник
                                <span class="glyphicon glyphicon-queen"></span>


                {% elif user.userprofile.last_status == 'A' %}
                                                                  вы архитектор
                                      <span class="glyphicon glyphicon-bishop"></span>


                {% elif user.userprofile.last_status == 'S' %}
                    вы студент
                          <span class="glyphicon glyphicon-knight"></span>


                      (<a href="/tut/s2t/">
                          Искать тьютора
                          <span class="glyphicon glyphicon-tower"></span>
                      </a>)

                {% elif user.userprofile.last_status == 'T' %}
                      вы тьютор
                          <span class="glyphicon glyphicon-tower"></span>

                      (
                      <a href="/tut/t2s/" title="Тьютор ищет студентов">
                          <span class="glyphicon glyphicon-knight"></span>
                      </a>)
                {% endif %}

(
                <a href="/tut/book_search/" >
                  Искать курс
                    <span class="glyphicon glyphicon-book"></span>
                    <span class="glyphicon glyphicon-search"></span>
                </a>
)
                (
                <a href="/tut/cat_search/" >Категории
                    <span class="glyphicon glyphicon-flag"></span>
                    <span class="glyphicon glyphicon-search"></span>
                </a>
)
(
                <a href="/wiz/lab_search/">
                  Лаборатории
                    <span class="glyphicon glyphicon-fire"></span>
                    <span class="glyphicon glyphicon-map-marker"></span>
                </a>
)

(<a href="/logout/">LOGOUT</a>)
              <hr>
              {% block content %}
              {% endblock content %}

              <hr>
              {% if user.is_superuser %}
                <a href="/admin/" title="Admin-panel">
                    <span class="glyphicon glyphicon-wrench"></span>
                </a>
              {% endif %}
        </div>
      </div>



    </body>
</html>
