<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>sky</title>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <h1>  {{ message }} </h1>
              </li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="container">
        <div class="jumbotron">
(
                <a href="/" title="Home/logout/my_room" >
                    <span class="glyphicon glyphicon-home"></span>
                </a>
    )
                {% if not user.userprofile %}
                  no profile?

                {% elif user.userprofile.last_status == 'E' %}
                      <a href="/hall/" title="You are Expert/hall/role">
                          <span class="glyphicon glyphicon-king"></span>
                      </a>
                {% elif user.userprofile.last_status == 'W' %}
                            <a href="/hall/" title="You are Wizard/hall/role">
                                <span class="glyphicon glyphicon-queen"></span>
                            </a>

                {% elif user.userprofile.last_status == 'A' %}
                                  <a href="/hall/" title="You are Architect/hall/role">
                                      <span class="glyphicon glyphicon-bishop"></span>
                                  </a>

                {% elif user.userprofile.last_status == 'S' %}
                      <a href="/hall/" title="You are Student/hall/role">
                          <span class="glyphicon glyphicon-knight"></span>
                      </a>

                      (<a href="/tut/s2t/" title="Student seeks Tutor">
                          <span class="glyphicon glyphicon-tower"></span>
                      </a>)

                {% elif user.userprofile.last_status == 'T' %}
                      <a href="/hall/" title="You are Tutor/hall/role">
                          <span class="glyphicon glyphicon-tower"></span>
                      </a>
                      (
                      <a href="/tut/t2s/" title="Tutor seeks Students">
                          <span class="glyphicon glyphicon-knight"></span>
                      </a>)
                {% endif %}
(
                <a href="/tut/book_search/" title="Look for course">
                    <span class="glyphicon glyphicon-book"></span>
                    <span class="glyphicon glyphicon-search"></span>
                </a>
)
(
                <a href="/tut/cat_search/" title="Look for Categories">
                    <span class="glyphicon glyphicon-flag"></span>
                    <span class="glyphicon glyphicon-search"></span>
                </a>
)

              <hr>
              {% block content %}
              {% endblock content %}

              <hr>
              {% if user.is_superuser %}
                <a href="/admin/" title="Admin-panel">
                    <span class="glyphicon glyphicon-wrench"></span>
                </a>
              {% endif %}
        </div>
      </div>



    </body>
</html>
