{% extends "base.html" %}
{% block content %}
  <h1>
Вы находитесь в главном зале проекта
</h1>
Вы можете
<ul>
<li>Записаться на курс и приступить к изучению</li>
<li>Создать собственный курс (попросить статус Эксперта)</li>
<li>Наблюдать движение студентов (попросить статус Тьютора)</li>
<li>Изучать стили обучения (попросить статус Психолога)</li>
<li>Подобрать себе сотрудников (попросить статус Охотника)</li>
</ul>

Если вы просите статус выше студенческого, заполнните данные в личном кабинете,
 включая биографию и фото. Решение о вашем новом статусе будет принимать человек
  на основе этих данных
{% endblock %}
