{% extends "base.html" %}
{% block content %}
  <h1>
Вы находитесь в главном зале проекта. Сейчас вы {{user.userprofile.get_status}}
</h1>
(S = студент, E = эксперт, T = тьютор)<p>


<form method="post" action="/get_status/"
>{% csrf_token %}
Попросить другую роль
        <select name="role">
          <option value="S">student</option>
          <option value="E">expert</option>
          <option value="T">tutor</option>
        </select>

    <input type="submit" value="Submit" />
</form>

{% endblock %}
