{% extends "base.html" %}
{% block content %}
  <h3>
Вы находитесь в главном зале проекта.
Сейчас вы </h3>
<h2>{{user.userprofile.get_status}}</h2>

<form method="post" action="/get_status/"
>{% csrf_token %}
Попросить другую роль
        <select name="role">
          <option value="S">-------</option>
          <option value="S">Student</option>
          <option value="E">Expert</option>
          <option value="T">Tutor</option>
          <option value="A">Architect</option>
          <option value="W">Wizard</option>
        </select>
    <input type="submit" value="Submit" />
</form>
<hr>
{% if user.userprofile.last_status == 'W' %}
<a href="/wiz/new_lab/">Создать событие</a>
<hr>
Мои события
<ol>
{% for obj in qs1 %}
<li>
<a href="/wiz/show_lab/{{obj.id}}/">{{obj.name}}</a>
</li>
{% endfor %}
</ol>
<hr>
Чужие события
<ol>
{% for obj in qs2 %}
<li>
<a href="/wiz/show_lab/{{obj.id}}/">{{obj.name}}</a>
</li>
{% endfor %}
</ol>
{% endif %}

{% if user.userprofile.last_status == 'A' %}
<a href="/arc/new_cat/">Создать категорию</a>
<hr>
Все категории
<ol>
{% for obj in qset %}
<li>{{obj}}</li>
{% endfor %}
</ol>
{% endif %}

{% if user.userprofile.last_status == 'S' %}
  Мои курсы - Активные
 <ol>
   {% for obj in qset1 %}
   <li>
     <a href="/crs_rec/{{obj.id}}/">
     {{ obj }}
   </a>
     <a href="/crs_down/{{obj.id}}/">
   <span class="glyphicon glyphicon-arrow-down"></span>
    </a>
 </li>
   {% endfor %}
 </ol>
 <hr>

 Мои курсы - Пассивные
<ol>{% for obj in qset2 %}
  <li>{{ obj }}
     <a href="/crs_up/{{obj.id}}/">
  <span class="glyphicon glyphicon-arrow-up"></span>
  </a>
</li>
  {% endfor %}
</ol>

 <hr>

Мои курсы - Успешно завершенные
<ol>{% for obj in qset5 %}
 <li>{{ obj }}

 <span class="glyphicon glyphicon-check"></span>

</li>
 {% endfor %}
</ol>



<hr>
Все остальные курсы
<ol>
  {% for obj in qset4 %}
  <li>
    <a href="/crs_demo/{{obj.id}}/">
    {{ obj }}
  </a>
     <a href="/crs_up/{{obj.id}}/">
  <span class="glyphicon glyphicon-arrow-up"></span>
</a>
</li>
  {% endfor %}
</ol>



{% elif user.userprofile.last_status == 'E' %}
<a href="/create_crs/">создать курс</a>
<hr>
Мои курсы - Одобренные
<ol>
  {% for obj in q_approved %}
  <li><a href="/course/{{obj.id}}">{{ obj }}</a>
  {% endfor %}
</ol>
Мои курсы - Завершенные
<ol>
  {% for obj in q_completed %}
  <li><a href="/course/{{obj.id}}">{{ obj }}</a>
  {% endfor %}
</ol>
Мои курсы - начатые
<ol>
  {% for obj in q_started %}
  <li><a href="/course/{{obj.id}}">{{ obj }}</a>
  {% endfor %}
</ol>
Курсы других преподавателей
<ol>
  {% for obj in q_common %}
  <li><a href="/course/{{obj.id}}">{{ obj }}</a>
  {% endfor %}
</ol>

{% elif user.userprofile.last_status == 'T' %}

Мои студенты
{% if qs11 %}
{% for obj in qs11 %}
<li>
  <a href="/tut/v_card_s/{{obj.student_id}}/">
  {{ obj }}
</a>
  <a href="/tut/t2s_no/{{obj.student_id}}/">
      <span class="glyphicon glyphicon-arrow-down"
      title="отказаться"
      ></span>
    </a>


</li>
{% endfor %}
{% endif %}
<hr>
Желающие
{% if qs01 %}
{% for obj in qs01 %}
<li>
  <a href="/tut/v_card_s/{{obj.student_id}}/">
  {{ obj }}
</a>
  <a href="/tut/t2s_pro/{{obj.student_id}}/">
      <span class="glyphicon glyphicon-arrow-up"
      title="Согласиться"
      ></span>
      </a>


</li>
{% endfor %}
{% endif %}
<hr>
Бывшие
{% if qs10 %}
{% for obj in qs10 %}
<li>
  <a href="/tut/v_card_s/{{obj.student_id}}/">
  {{ obj }}
</a>
</li>
{% endfor %}
{% endif %}
{% endif %}

{% endblock %}
