<!DOCTYPE html>
<html>
<head></head>
<body>
Вы находитесь на первой странице проекта Скай-Скул<br/><br/>
<H1>
Вас зовут = {{ user }}
</H1>
<br/>
{% if request.user.is_authenticated  %}
 <hr>
Вы активный зарегистрированный пользователь - у вас есть свой
<a href='/my_room/'>личный кабинет</a> и вы можете пройти
<a href="/hall/">
 в главный зал
 </a>
 <hr>
<a href="/logout/">LOGOUT</a>
{% else %}
Сейчас вы неизвестно кто.<br/>
Чтобы узнать больше, зарегистрируйтесь:<a href="/accounts/register/">SIGN_UP</a><br/>
или войдите в систему:
<a href="/login/">LOGIN</a>
{% endif %}
</body>
</html>
