<!DOCTYPE html>
<html>
<head></head>
<body>
Вы находитесь на первой странице проекта Скай-Скул<br/><br/>
<H1>
Вас зовут = {{ user }}
</H1>
<br/>
{% if request.user.is_authenticated  %}
Вы активный зарегистрированный пользователь - и у вас есть свой
<a href='/my_room/'>личный кабинет</a>
 <hr>
<a href="/logout/">LOGOUT</a>
{% else %}
Сейчас вы неизвестно кто.<br/>
Чтобы узнать больше, зарегистрируйтесь:
<a href="/login/">LOGIN</a><br/>
или войдите в систему:
<a href="/accounts/register/">SIGN_UP</a>
{% endif %}
</body>
</html>
