{% extends "base.html" %}
{% block content %}

Личный кабинет (<a href="/edit_profile/">Изменить данные</a>)<br/>

<h2>{{ user.get_full_name }}</h2>
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Location: {{ user.userprofile.location }}</li>
  <li>Birth Date: {{ user.userprofile.birth_date }}</li>
  <li>Bio: {{ user.userprofile.bio }}</li>
  <li><a href='{{user.userprofile.site}}' target="1">Site:</a></li>
</ul>
{% if user.userprofile.picture and not user.userprofile.picture == 'False' %}
<img src = '{{ user.userprofile.picture.url }}'/>
(<a href="/edit_pic/">Изменить фото</a>)

{% else %}
нет фотографии
(<a href="/edit_pic/">Загрузить фото</a>)
{% endif %}

{% endblock %}
