<!DOCTYPE html>
<html>
<head>
<title>  My Room </title>
</head>
<body>

Личный кабинет (<a href="/edit_profile/">Изменить данные</a>)<br/>

<h2>{{ user.get_full_name }}</h2>
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Location: {{ user.userprofile.location }}</li>
  <li>Birth Date: {{ user.userprofile.birth_date }}</li>
  <li>Bio: {{ user.userprofile.bio }}</li>
  <li><a href='{{user.userprofile.site}}' target="1">Site:</a></li>
</ul>
{% if user.userprofile.picture %}
<img src = '{{ user.userprofile.picture.url }}'/>
{% else %}
нет фотографии
{% endif %}
</body>
</html>
